Spellbound.zip
Spellbound-preview.zip
spellbound-app.zip
SpellboundApp-*.part
Spellbound.zip.part-*
SB-*
Spellbound_concept_scripts.txt
/app/
Spellbound-app.part
Spellbound-Download.html
SpellboundApp*of4.part
